* {
  text-decoration: none;
  box-sizing: border-box;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: 100vh;
  background: #f6f7f8;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  padding: 20px;
  background: #fff;
  border-right: 1px solid #eee;
}
.ds{
  color: white;
}
.routs {
  font-family: 'Trebuchet MS', Arial, sans-serif;
}
.menu-item, .menu{
  color: white;
}

.logo {
  display: flex;
  margin-bottom: 30px;
}

.logo img {
  width: 80px;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 12px;
  color: #111;
  font-size: 15px;
  transition: 0.2s;
}

.menu-item svg {
  font-size: 18px;
}

.menu-item:hover {
  background: #f3f4f6;
}

.menu-item.active {
  background: #f3f4f6;
  font-weight: 600;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 40px;
}

/* EMPTY CARD */
.empty-card {
  background: white;
  border-radius: 20px;
  padding: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.heart {
  width: 60px;
  height: 60px;
  background: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.section-title {
  margin-bottom: 20px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.earn-card {
  background: white;
  border-radius: 20px;
  padding: 24px;
  width: 280px;
}

.icon {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}

.yellow {
  background: #ffd600;
}

.earn-card p {
  color: #666;
  font-size: 14px;
}

.earn-card button {
  margin-top: 16px;
  width: 100%;
  border: none;
  padding: 12px;
  border-radius: 999px;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* FOOTER */
.footer-links {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  color: #777;
  font-size: 14px;
}
