*{
   text-decoration: none;
}

.about-page {
  padding: 40px;
  background: #f6f7f8;
  min-height: 100vh;
}

.create-buttons {
  display: flex;
  gap: 20px;
  margin: 30px 0;
}

.box {
  width: 150px;
  height: 120px;
  background: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}

.box:hover {
  background: #f1f1f1;
}

.tabs {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;

}
.p{
  color: #111;

}

.tabs span {
  padding-bottom: 12px;
  cursor: pointer;
}

.tabs .active {
  color: #111;
  border-bottom: 2px solid #111;
}

.empty-state {
  margin-top: 100px;
  text-align: center;
  color: #374151;
}

.empty-state .icon {
  font-size: 48px;
  margin-bottom: 20px;
}
.about-page {
  padding: 40px;
  background: #f6f7f8;
  min-height: 100vh;
}

.create-buttons {
  display: flex;
  gap: 20px;
  margin: 30px 0;
}

.box {
  width: 150px;
  height: 120px;
  background: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}

.box:hover {
  background: #f1f1f1;
}

.tabs {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
}

.tab {
  padding-bottom: 12px;
  cursor: pointer;
  color: #666;
  font-weight: 500;
}

.tab.active {
  color: #111;
  border-bottom: 2px solid #111;
}

.about-content {
  margin-top: 24px;
}